.counter{
    width: 250px;
    height: 200px;
    border: 2px solid #00ebff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
   
}
.counterView{
     width: 90%;
    height: 50%;
    margin: 10px  auto auto;
    border: 2px solid #00ebff;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonsBlock{
    width: 90%;
    height: 30%;
    margin: 10px auto;
    border: 2px solid #00ebff;
    display: flex;
    align-items: center;
   justify-content: space-around;
    border-radius: 10px;
}
.count{
    color: #00ebff;
    font-size: 30px;
}
.red{
    color: #ff0000;
    font-size: 40px;
}
